html{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  background-color: black;
  color: white;
}

.container{
  display: inline-block;
}

.typed{
  overflow: hidden;
  border-right = .15em green;
}
