html{
  font-family:'Courier New', Courier, monospace;
  font-weight: normal;
  background-color: black;
  background-size: cover;
  color: white;
  text-align: center
}

.container{
  display: inline-block;
}

.typedTitle{
  overflow: hidden;
  border-right: .15em transparent;
  font-size: 3em;
  font-weight:bold;
  white-space: nowrap;
  width: 0;
  animation: 
    typing 1s steps(18,end) forwards,
    cursor .8s infinite;
}

.aboutMeContent{
  text-align:center;
  width:10vw;
}

@keyframes typing{
  from {width: 0}
  to {width: 100%}
}

@keyframes cursor{
  from{ border-right: transparent }
  to{ border-right: solid white }
}

.typedTitle:hover{
  color:green;
  font-weight:bold
}
